*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Dancing-Script', sans-serif;
    font-size: 1.6rem;
    position: relative;
}

[id] {
    scroll-margin-top: 78px;
}
/* nawigacja */

.navbar-brand{
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link, .navbar-toggler-icon {
    font-size: 2.5rem;
}

/* header */
.home {
    position: relative;
    height: 60rem;
    background-image: url('./img/sunset.jpg');
    background-size: cover;
    background-position: center;}

.home .hello {
    font-size: 2.5rem;
}
.home .btn {
    font-size: 2rem;
    padding: 0.75em 1.5em;
    text-transform: uppercase;
}

/* home */
.home-agenda{
    padding: 3em 0;

}

.home-agenda i {
    font-size: 4rem;
    padding: 0.7em 0;
    color: #ff4216;
}
.home-agenda h3{
    font-size: 2.2rem;
}


.col-md-6 h3 {
    font-size: 3.3rem;
    font-weight: bold;
}
.col-md-6 p {
    font-size: 1.8rem;
}

.schedule {
    background-color: #ff4216;
}


.accordion-button{
    padding: 0.75em;
    font-size: 2.6rem;
    
}

.offer h2 {
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.cards-box {
    margin: 0.3em 0.4em;
    border: 0.1rem solid;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    transition: transform 0.3s;
}
.cards-box:hover{
    transform: scale(1.04);
}

.cards-box h3 {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
    color: #ff4216;
}
.cards-box .price {
    font-weight: bold;
    font-size: 2.8rem;
}

.offer.text {
    font-size: 2.5rem;
}
button.btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
    border: 0.3rem solid; 
}

button.btn-active{
    background-color: #ff4216;
}



.social-media i {
    font-size: 3.2rem;
    padding: 0 0.7em ;
    color: #ff4216;
}

.col-md-6 h5 {
    font-size: 2.3rem;
    text-transform: uppercase;
}
footer{
    font-size: 2.3rem;
}

